{% extends "base.html" %}
{% block body %}
    
    <br>
    <section class="templateux-hero"  data-scrollax-parent="true">
    
    <div id="blog" class="site-section">
    <div class="container">
        
            <div class="row">

              <div class="col-md-8">

                <h2 class="mb-3 mt-5 mb-3">The FDA has provided a preliminary ML/Ai framework for health tech companies to potentially follow</h2>

                <p>In this article the Federal Drug Administration (FDA) outlines for the first time a working framework for healthcare startups to utilize when developing advanced statistical techniques (machine learning/artifical intelligence) for augmenting physician or care provider health delivery. Within this brief, the FDA defines ML, the concept of software as a medical device (SaMD), and a diagram that details 'Good Machine Learning Practices' on page 8, figure 2.</p>

                <p>In summary, this articles highlights the existing gap - and continuous need for additional research and protocols related to the application of advanced statistical techniques like machine learning/artifical intelligence within the area of medicine and healthcare).</p>

                <a href="https://www.fda.gov/media/122535/download">Read the FDA outline / article here</a> <br>
                <a href="https://www.fda.gov/medical-devices/software-medical-device-samd/artificial-intelligence-and-machine-learning-software-medical-device">Read the FDA / press-release article here</a>


            </div>
        </div>
    </div>
    </div>

    </section>


  {% endblock %}