{% extends "base.html" %}
{% block body %}
    
    <br>
    <section class="templateux-hero"  data-scrollax-parent="true">
    
    <div id="blog" class="site-section">
    <div class="container">
        
            <div class="row">

              <div class="col-md-8">

                <h2 class="mb-3 mt-5 mb-3">Health Affairs:Top-Funded Digital Health Companies And Their Impact On High-Burden, High-Cost Conditions</h2>

                <p>In this article by Safavi and colleagues, the argument is made that we need more scientific studies (peer-reviewed evidence) to support the efficacy of digital health products. A wide variety of well-funded, successful companies exist that offer digital products. Yet, very few of these companies have published studies that support the feasability, acceptability, and or efficacy of their products for non-healthy populations. </p>

                <p>In summary, this articles highlights the existing gap - continued need for research to support digital health products with persons that have existing chronic illnesses (real patients).</p>

                <a href="https://www.healthaffairs.org/doi/abs/10.1377/hlthaff.2018.05081?journalCode=hlthaff">Readh the abstract / article here</a>


            </div>
        </div>
    </div>
    </div>

    </section>


  {% endblock %}