{% extends "base.html" %}

{% block body %}

      <main role="main" class="inner cover">
        <img src="https://www.finnegan.com/images/content/6/5/v2/65257/23-Health.png" alt=""> 
        <h1 class="cover-heading">The Digital Health Fund.</h1>
        <p class="lead">The Digital Health Fund (DHF) is focused on providing financial assistance and mentorship to the next generation of healthcare providers and researchers to help assess the acceptability, feadability, and efficacy of digial health applications.</p>
      </main>

      <br>

{% endblock %}