{% extends "base.html" %}
{% block body %}

    <!-- END templateux-navbar -->
    <section class="templateux-hero"  data-scrollax-parent="true">
      <!-- <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="images/hero_2.jpg" /></div> -->

      <div class="container">
        <div class="row align-items-center justify-content-center intro">
          <div class="col-md-10" data-aos="fade-up">
            <h1>Portfolio</h1>

            <br>


        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-up">
            <a class="project animsition-link" href="http://www.biovirtua.com">
              <figure>
                <img src="https://medstack.co/content/uploads/2018/01/biovirtua_customerstory.png" alt="BioVirtua" class="img-fluid">  
              </figure>
              <div class="project-hover">
                <div class="project-hover-inner">
                  <h2>BioVirtua</h2>
                  <span>Redefining Human Movement Analytics</span>
                </div>
              </div>
            </a>
          </div>
          
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <a class="project animsition-link" href="https://inrecovery.org/">
              <figure>
                <img src="https://inrecovery.org/assets/images/inrecovery-connect.svg" alt="InRecoverly" class="img-fluid">  
              </figure>
              <div class="project-hover">
                <div class="project-hover-inner">
                  <h2>InRecoverly</h2>
                  <span>SaaS: Inpatient and Outpatient Substance Abuse</span>
                </div>
              </div>
            </a>
          </div>

          </div>


<!--             <a href="#next" class="go-down js-smoothscroll"></a>
 -->


          </div>
        </div>
      </div>
    </section>
    <!-- END templateux-hero -->
    
  {% endblock %}