{% extends "base.html" %}
{% block body %}

    <!-- END templateux-navbar -->
    <section class="templateux-hero"  data-scrollax-parent="true">
      <!-- <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="images/hero_2.jpg" /></div> -->

      <div class="container">
        <div class="row align-items-center justify-content-center intro">
          <div class="col-md-10" data-aos="fade-up">
            <h1>Thesis</h1>
            <p class="lead">The Digital Health Fund was created to fund, support, and mentor passionate healthcare students interested in conducting research related to the acceptability, feasability, and efficacy of digital health technologies.</p>
            <!-- <a href="#next" class="go-down js-smoothscroll"></a> -->
          </div>
        </div>
      </div>
    </section>
    <!-- END templateux-hero -->
    
   {% endblock %}